.component-div {
  position: absolute;
  left: 25%;
  right: 1%;
  top: 12%;
  bottom: 1%;
  margin-right: 20px;
  box-sizing: border-box;
  background-color: #f0f0f0;
}

.component-aside {
  position: absolute;
  left: 1%;
  right: 76%;
  top: 12%;
  bottom: 1%;
  margin-left: 20px;
  box-sizing: border-box;
  background-color: #f0f0f0;
}
